In [61]:
import pandas as pd
import datetime
import torch
import torch.nn as nn

In [ ]:
year = '2018'
symbol = 'BTCUSDT'
print("df")

In [175]:
header = {'open_time' : 1, 'open' : 2, 'high' : 3, 'low' : 4, 'close' : 5, 'volume' : 6}
def get_batches(year, symbol, in_seq_len, out_seq_len, batch_size, epochs = 1):
    data = data = pd.read_csv("{}_{}.csv".format(year, symbol), header = None)
    
    
    #convert timestamp into month and day numbers
    data['day'] = pd.to_datetime(data[1], unit='ms').apply(lambda x: x.day)
    data['month'] = pd.to_datetime(data[1], unit='ms').apply(lambda x: x.month)
        
    batch = []
    for i in range(0, data.shape[0], in_seq_len + out_seq_len):
        print(i)
        in_seq = data.iloc[i:i + in_seq_len,[2,3,4,5,6,7]]
        
        
        out_seq = data.iloc[i+in_seq_len:i+in_seq_len+out_seq_len,[6,7]]
        batch.append([in_seq,out_seq])
        
        if(len(batch) >= batch_size):
            return batch
            batch = []
            
        
g = get_batches(year, symbol,3000,4, 1)
g[0][0]

0

             3         4         5          6  day  month
0     13715.65  13681.00  13707.92   2.844266    1      1
1     13707.91  13666.11  13694.92   2.113138    1      1
2     13694.94  13680.00  13680.00   1.346411    1      1
3     13679.98  13601.00  13645.99  11.589417    1      1
4     13646.00  13576.28  13600.00  15.724566    1      1
...        ...       ...       ...        ...  ...    ...
2995  14809.97  14806.25  14809.93  16.760968    3      1
2996  14819.00  14809.36  14819.00  17.751784    3      1
2997  14820.00  14809.95  14819.00   8.605974    3      1
2998  14849.00  14819.00  14838.00   8.675175    3      1
2999  14849.00  14820.00  14820.00   2.213947    3      1

[3000 rows x 6 columns]

In [176]:
g[0][1]

      day  month
3000    3      1
3001    3      1
3002    3      1
3003    3      1

In [114]:
datetime.datetime.fromtimestamp(1546300740)

datetime.datetime.now().day

5